# Nettoyage

In [1]:
# importation des librairies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
# Importation du dataset
df = pd.read_csv(r"C:\Users\bongu\Documents\GAMEDATA360\data\nettoyes\jeux_beta.csv")
df.head()

,AppID,Name,Release date,Estimated owners,Price,Peak CCU,User score,Positive,Negative,Metacritic score,...,Developers,Publishers,Genres,Tags,Categories,Windows,Mac,Linux,Website,published
0,1943590,溪风谷之战,2022-03-24,0 - 0,0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,0
1,1966960,Burial Stone,2022-04-13,0 - 0,0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,0
2,1688630,Emperial Knights,2021-11-14,0 - 0,0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,0
3,1478660,Slotracers VR,2020-12-17,0 - 0,0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,0
4,1613340,Pirates of the Asteroid Belt,2021-04-23,0 - 0,0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,0

In [12]:
# Le maximum des prix des jeux betas
df['Price'].max()

np.float64(39.99)

In [13]:
df['Estimated owners'].value_counts()

Estimated owners
0 - 0        6412
0 - 20000       5
Name: count, dtype: int64